<% if @book.errors.any? %>
  <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
  <ul><% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  </ul>
  <% end %>
<% end %>

<%= render 'layouts/error_messages', resource: @book %>